@model IEnumerable<StudentPortalSystemMVC.Models.GRADE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MARKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRADE1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENROLLMENT.ENROLLMENT_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MARKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRADE1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENROLLMENT.ENROLLMENT_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GRADE_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GRADE_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GRADE_ID })
        </td>
    </tr>
}

</table>
